{{> menu}}

<div class="content box is-grey-dark">
    <div class="columns is-vcentered">
        <div class="column">
            <p class="title">
                Error
            </p>
            <p>
                Uh oh... Go back and try again
            </p>
        </div>
        <div class="column">
            <img src="/images/error-404.avif" class="image is-fullwidth"
                 alt="Person looking confused at 404 message">
        </div>
    </div>
</div>